<div class="post-comment" data-comment="valine">
    <span class="post-comment-notloaded">
        <i class="iconfont icon-chatbox-ellipses-sharp"></i>&nbsp;{{ i18n "postComment" }}
    </span>
    <script src="//cdn.jsdelivr.net/npm/minivaline@latest/dist/MiniValine.min.js"></script>
    <script>
        function loadComment() {
            document.querySelector('span.post-comment-notloaded').setAttribute('style', 'display: none;');

            var d = document.createElement('div');
            d.id = 'mvcomment'
            document.querySelector('.post-comment').appendChild(d);

            new MiniValine({
                el: '#mvcomment',
                backend: 'waline',
                serverURLs: '{{ .Site.Params.minivalineServerURLs }}',
                pathname: window.location.pathname,
                placeholder: '{{ .Site.Params.minivalinePlaceholder }}'
            });
        }
    </script>
</div>